.title{
	background-color: #204a87;
	color: white;
	text-align: center;
	vertical-align: middle;
	padding-top: 15px;
	padding-bottom: 1px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 6vw;
	font: bold;
}

.imagetitle{
	background-color: #204a87;
	color: black;
	font-size: 2.5vw;
	font: bold;
}

.date{
	text-align: right;
	font-size: 1vw;
	vertical-align: bottom;
}

.description{
	text-align: center;
	font-size: 1.5vw;
	vertical-align: middle;
	font: italic;
}

.comment{
	text-align: left;
	font-size: 1vw;
	padding-left: 100px;
	vertical-align: middle;
	font: italic;
}

.user{
	text-align: right;
	font-size: 2.5vw;
	text-align: center;
	vertical-align: middle;
}

.subtitle{
	text-align: center;
}

.error{
	color: red;
	text-align: center;
	width: 100%;
}

.circlebutton{
	text-align: center;
	width: 100%;
}

.showbigimg {
	max-width: 500px;
	height: auto;
}

table {
	border-collapse: collapse;
	width: 90%;
	margin: auto;
}

table, th, td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

