<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<display-name>Image Gallery pure HTML</display-name>
	
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/galleria_immagini</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>password</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	
	<filter>
		<filter-name>CheckUserSession</filter-name>
		<filter-class>filters.CheckUserSession</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>CheckUserSession</filter-name>
		<url-pattern>/Comment</url-pattern>
		<url-pattern>/AlbumPage</url-pattern>
		<url-pattern>/HomePage</url-pattern>
		<url-pattern>/Logout</url-pattern>
	</filter-mapping>
	
	<!-- Starting page -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>